/* .view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
} */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;

  /*Add Background Texture*/
  background-image: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg");
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

.title{
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

#wrapper {
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  
  
}
#articles {
  display: inline-block;
  overflow: auto;
  height: 700px;
  
}
#notes {
  float: right;
 
}
textarea, input {
  display: block;
  width: 100%;
  /* background-color: #FCF5C7; */
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}